<section class="education p-3 p-lg-5 d-flex flex-column my-auto w-100" id="education">
  <div class="my-auto w-100">
    <h2 class="mb-4">{{ i18n "education" }}</h2>
    {{ range .Site.Data.education }}
    <div class="item mb-5 p-3">
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="content mr-auto m-0" >
          <h3 class="emphasize m-0">{{ .school | markdownify }}</h3>
          <div class="subheading m-0">{{ .degree }}</div>
        </div>
        <div class="date text-secondary text-md-right">
          <span>{{ .range }}</span>
        </div>
      </div>
      <div class="col mt-3">
        <div>{{ .major | markdownify }}</div>
        <p>{{ .notes | markdownify }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
