{{ $escapedEmail := replace .Site.Params.email "@" "<span>@</span>" }}
{{ $escapedMailto := printf "%s-remove-%s" (substr .Site.Params.email 0 5) (substr .Site.Params.email 5) }}
{{ $escapedMailto = replace $escapedMailto "@" "[@]" }}
      <section class="about-me p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto w-100">
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="mr-auto">

              <h1 class="text-primary mb-0">
                <span class="text-primary">{{ .Site.Params.firstName }}</span>
                <br class="d-block d-lg-none" />
                <span class="emphasize">{{ .Site.Params.lastName }}</span>
              </h1>
              <div class="subheading mb-5">
                <span class="address">{{ .Site.Params.address }}</span>
                <span class="divider">&middot;</span>
                <span class="email">
                  <a href="mailto:{{ $escapedMailto }}">{{ $escapedEmail | safeHTML }}</a>
                </span>
              </div>

            </div>
            {{ if .Site.Params.showQr }}
            <div class="d-none d-lg-block text-center">
              {{ partial "elements/qr-code" (dict "contact" .Site.Params "siteUrl" .Site.BaseURL "chartSize" "150x150") }}
              <h4 class="mb-3">{{ i18n "contact-card" }}</h4>
            </div>
            {{ end }}
        </div>
        {{ if .Site.Params.showQr }}
        <div class="qr-code-container d-block d-lg-none">
          <h3 class="mb-3">{{ i18n "contact-card" }}</h3>
          {{ partial "elements/qr-code" (dict "contact" .Site.Params "siteUrl" .Site.BaseURL "chartSize" "200x200") }}
        </div>
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
        {{ if and (isset .Site.Data "certifications") (len .Site.Data.certifications) }}
        <div class="certification-icons">
          <h3>{{ i18n "certifications" }}</h3>
          <ul class="list-certification-icons list-inline d-flex mb-0">
          {{ range .Site.Data.certifications }}
            {{ $href := .href | default "#about" }}
            {{ $target := cond (eq $href "#about") "" "_target" }}

            <li class="list-inline-item">
              {{- if .icon -}}
              <a href="{{ $href }}" class="certification-icon btn btn-lrg d-flex align-items-center justify-content-center" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me" target="{{ $target }}">
                <img src="{{ .icon }}" alt="{{ .name }}" />
              </a>
              {{- else -}}
              <a href="{{ $href }}" class="certification-icon unknown btn btn-lrg d-flex align-items-center justify-content-center" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me" target="{{ $target }}">
                <span><i class="fa fa-question"></i></span>
              </a>
              {{- end -}}
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
        <div class="social-icons">
          {{ if and (isset .Site.Params "social") (len .Site.Params.social) }}
          <h3 class="mb-3">{{ i18n "socialization" }}</h3>
          {{ partial "elements/social-icons-list.html" .Site.Params.social }}
          {{ end }}
        </div>
      </div>
    </section>
