{{ define "main" }}
   {{ partial "about.html" .}}
   {{ $projects := slice "creations" "contributions" }}
   {{ $sections := slice "publications" "blog" }}
   {{ $site := .Site }}
   {{ range .Site.Params.sections }}
      {{ $sectionId := . }}
      {{ if in $projects . }}
         {{ with $site.GetPage "section" (printf "projects/%s" $) }}
            {{ partial "summary" (dict "section" . "sectionId" $sectionId) }}
         {{ end }}
      {{ else if in $sections . }}
         {{ with $site.GetPage "section" . }}
            {{ partial "summary" (dict "section" . "sectionId" $sectionId) }}
         {{ end }}
      {{ else }}
         {{ partial (printf "portfolio/%s" . ) $ }}
      {{ end }}
   {{ end }}
{{ end }}